<p style="color: green"><%= notice %></p>

<%= render @municip %>

<div>
  <%= link_to "Edit this municip", edit_municip_path(@municip) %> |
  <%= link_to "Back to municips", municips_path %>

</div>
